<!DOCTYPE html>
<html>
<head>
    <title>tic-tac-socketio</title>
</head>
<body>
<style>
    .box {
        height: 150px;
        width: 150px;
        background-color: red;
        border-width: 5px;
        border: black;
        border-style: solid;
        display: inline-block;
        text-align: center;
        vertical-align: middle;
        line-height: 150px;
    }
</style>
<!-- Displays who won (if there is a winner) -->
<%if (gameData.win!='-') {%> Game over! <%= gameData.win%> wins! <% }%>
<!-- Displays which player you are: X, O, or - (aka spectator) -->
<h1>You are: <%= gameData.playerName %> </h1>
<small>
    <!-- Tells you whose turn it is -->
    <%if (gameData.isYourTurn) {%>  Go ahead. It's our turn!
    <%} else {%>  Waiting on opponent's move.  <%}%>
</small>

<!-- Create tic-tac-toe playing field -->
<% for(var row = 0; row < 3; row++){ %>
<div class="row">
    <%  for(var col = 0; col< 3; col++){ %>
    <div class="box" data-row="<%= row %>" data-col="<%= col%>"></div>
    <% } %>
</div>
<% } %>

<script>
    // gameState is a nested 3x3 array representing the game
    gameState = <%- JSON.stringify(gameData.grid)%>;
    // sendMove is set as the onclick property of each div representing the tic-tac-toe playing field
    var sendMove = function(row, col){
        return function(){
            // use ajax to post the move that has been made by the player's click
            var xmlhttp=new XMLHttpRequest();
            var url = "/makemove";
            var params = "row=" + row + "&col="+ col + "&userid=" + "<%= userid %>";
            xmlhttp.open("POST", url, true);
            xmlhttp.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
            xmlhttp.send(params);
        };};
    // initialize the divs: set onclick and innerText
    var divs = document.getElementsByClassName("box");
    for (var i = 0; i < 9; ++i) {
        var row = divs[i].getAttribute("data-row");
        var col = divs[i].getAttribute("data-col");
        divs[i].onclick = sendMove(row,col);
        divs[i].innerText = gameState[row][col];
    }

</script>
</body>
</html>